footer {
    background-color: #9752ad;
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}


footer ul li a {
    font-size: 35px;
    color: whitesmoke;
}

footer ul li a:hover {
    font-weight: 700;
}